################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/bin
!DriveWise/bin/Debug/net8.0/DriveWise.xml
**/obj
.vs/