################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Projet fil rouge/FileContentIndex/17fc8ec2-bc65-4c7e-a2b4-a5cb11b6df74.vsidx
