.search-bar {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.search-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

  .search-inputs label {
    display: block;
    margin-bottom: 5px;
  }

  .search-inputs input,
  .search-inputs select {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

  button:hover {
    background-color: #0056b3;
  }
